:root {
    --primary-color: #96BB7C;
    --light-color: #ffffff;
    --fade-secundary-color: #DDF4FF;
    --brand-log: #252B42;
    --second-text-color: #737373;
    --hover-text-color:#272935;
    --hover-btn-color: #414c3a;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* Section Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--fade-secundary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.logo a {
    font-size: 1.5rem;
    color: var(--brand-log);
    font-weight: bold;
    text-decoration: none;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.item-link {
    text-decoration: none;
    color: var(--second-text-color);
    font-weight: bold;
    font-size: 0.9rem;
}

.item-link:hover {
    color: var(--hover-text-color);
}

.nav-auth {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    gap: 25px;
}

.btn-login {
    text-decoration: none;
    color:var(--primary-color);
    font-weight: bold;
    font-size: 0.9rem;
}

.btn {
    text-decoration: none;
    background-color: var(--primary-color);
    color:var(--light-color);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn:hover {
    background-color: var(--hover-btn-color);
}


/* Secttion Main */
.trust {
    background-color: var(--fade-secundary-color);
    padding: 70px 10%;
    min-height: 80vh;
    /* display: flex;
    align-items: center; */
}

.images-tecnology {
    background-color: rgba(0, 137, 179, 0);
    background-image: url(../images/ellipse.png);
    background-repeat: no-repeat;
    background-position: center;

    border: #252B42 1px dotted;
    position: relative;
}

.single{
    position: absolute;
    left: -50px;
    top: 250px;
    z-index: 2;
}

.scores {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.global-statics {
    position: absolute;
    right: -80px;
    bottom: 150px;
    z-index: 3;
}

.trust .container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.best-dental {
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-bottom: 20px;
}


/* Seletor class */
/* .logotipo {
    color:blueviolet;
} */

/* Seletor ID */
/* #logo {
    color: var(--cor-azul);
} */

/* Seletor Elemento */
/* div {
    color: blue;
} */

/* p.rt1 {
    font-size: 5px;
}

a[data-impacta="home"] {
    font-size: 10px;
    color: red;
} */